.btn {
  @include bg-colors($ui-colors);
}


[class^="btn--"] {
  border: none;
  border-radius: 5px;
  width: auto;
  display: inline-block;
  color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
