// Universal selector
* {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: $grey;
  max-width: 1400px;
}


// ul elements



// p elements



// Media Q Break

@include mq(medium) {
  .grid__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  [class^="grid__col"] {
    display: flex;
    flex-direction: row;
  }

  .grid__col--8 {
    align-self: stretch;
  }

  .blockquote {
    padding: 20px;
  }

  //Buttons

  [class^="btn--"] {
    border: none;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  //grid system custom

  [class*="grid__col--3 theme"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 24.5%;
    border-radius: 5px;
    color: #000;
    justify-content: space-around;
  }

  [class*="grid__col--4 theme"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 32.5%;
    border-radius: 5px;
    color: #000;
    justify-content: space-around;
  }

  [class*="grid__col--5 theme"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    border-radius: 5px;
    color: #000;
    justify-content: space-around;
  }

  [class*="grid__col--6 theme"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 49.5%;
    border-radius: 5px;
    color: #000;
    justify-content: space-around;
  }

  [class*="grid__col--7 theme"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 69%;
    border-radius: 5px;
    color: #000;
    justify-content: space-around;
  }

  [class*="grid__col--8 theme"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 66.5%;
    border-radius: 5px;
    color: #000;
    justify-content: space-around;
  }

  [class*="grid__col--12 theme"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    color: #000;
  }

//top card, form and nav

  .card {
    width: 100%;
    align-items: center
  }

  .nav {
  &__item {
    display: inline;
    padding: 10px;
  }

}

//end grid row

 .grid__col--12 {
   display: flex;
   justify-content: space-around;
   border-radius: 5px;
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
 }


 .form {
   padding-left: 40px;
   &:last-child {
     padding: 10px 30px;
   }
 }
 [class="btn--default theme__colors"],
 [class*="btn--success theme"],
 [class*="btn--error theme"],
 [class*="btn--warning theme"],
 [class*="btn--info theme"] {
  width: 15%;
 }

 [type="submit"] {
   width: 100%;
 }
}
